header {
  background-image: url('../../../assets/header-image.png');
  background-size: cover;
  background-color: aqua;
  // position: relative;
  // top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


// h1 {
//   font-family: $barlow;
//   font-weight: 400;
//   font-size: 3.44rem;
//   line-height: 63.7px;
//   letter-spacing: 0.8px;
//   color: $white;
// }

h1 {
  width: 50%;
  // line-break: normal;
  line-height: 1.5rem;
}
.wrapper {
  position: relative;
}
.socials {
  position: absolute;
  right: 0;
}