header {
  background-image: url(../../../panda-sanctuary/assets/header-image.png);
  // background-color: aqua;
  top: 0;
}


h1 {
  font-family: $barlow;
  font-weight: 400;
  font-size: 3.44rem;
  line-height: 63.7px;
  letter-spacing: 0.8px;
  color: $white;
}
