.flexContainer {
  display: flex;
  justify-content: space-between;
}

.flexContainer {
  display: flex;
  img {
    width: 50%;
  }

  .txtContainer {
    background-color: blue;
    width: 50%;
    text-align: left;
  }

  // .blog {
  //   padding: 20%;
  // }
}


.contactContainer {
  display: flex;

  nav {
    position: relative;
    ul {
      display: flex;
      flex-direction: column;
    }
  }
}