section {
  padding: 20vh 0;
}

h2 {
  margin: 20px 0;

  @media (max-width: 540px) {
    text-align: center;
  }
}

// background colors
.about,
.actions {
  background-color: $duckEggBlue;
}

.blog,
.contact {
  background-color: $pineTwo;
}

.readMore {
  text-align: center;
  padding: 10px 25px;
  background-color: $deepGreen;
  margin: 20px 0;
}

.blog .readMore {
  background-color: $white;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  
  img {
    width: 60%;
    object-fit: contain;
    max-width: 100%;
    height: auto;

  }
  .txtContainer {
    width: 50%;
    text-align: left;
    padding: 10% 0 10% 5%;
  }
}


// ABOUT
.about {
  h2 {
    color: $deepGreen;
  }

  p {
    color: $charcoal;
  }

  .readMore {
    color: $white;
  }

  position: relative;
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
  img.square {
    position: absolute;
    margin-top: 20px;
    max-width: 25%;
    object-fit: cover;
  }

  .aboutTxt {
    position: relative;
    padding: 0;
    margin-left: 28%;
    width: 75%;

    @media (max-width: 540px) {
      margin-left: 0;
      width: 100%;
    }
  }
}

// .square {
//   width: 50px;
//   height: 50px;
// }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  li {
    width: 31%;
  }
}

@media (max-width: 540px) {
  .gallery {
    li {
      width: 47%;
    }
    
    li:last-child {
      width: 100%;
    }
  }
  
  .square {
    display: none;
  }
}


// BLOG
.blog {
  padding: 0;
}
.blogList {
  .flexContainer {
    position: relative;
  }
  .txtContainer {
    padding-top: 0;
  }
  .fullBleed {
    width: 50vw;
    max-width: 50vw;
  }

  li:first-child {
    .fullBleed {
      position: relative;
      // left: 50%;
      // right: 25%;

      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }
  li:last-child {
    flex-direction: row-reverse;
    .fullBleed {
      position: relative;
      // left: 50%;
      // right: 25%;

      // left: 0%;
      // right: 0%;
      // margin-left: 50vw;
      // // margin-right: 50vw;
    }
  }

}



// ACTIONS 
.actions {
  text-align: center;

  i {
    color: $charcoal;
  }

  ul.flexContainer {
    justify-content: space-around;
  }
}

@media (max-width: 540px) {
  .actions ul{
    display: flex;
    flex-direction: column;
  }
}

// CONTACT
.contact {
  .contactFlex {
    display: flex;
    justify-content: space-between;
    div:first-child {
      width: 110%;
    }
  }
}
.subscribeContainer {
  width: 100%;

  .subscribe {
    height: 40px;
  }

  #email {
    height: 45px;
    margin-right: 0;
    width: 30vw;
  }
  ::placeholder {
    color: $charcoal;

  }

  .readMore {
    color: $white;
    background-color: $charcoal;
    border: none;
    margin: 0;
  }
}
.contactContainer {
  display: flex;

  nav {
    position: relative;
    width: 30%;
    
    ul {
      display: flex;
      flex-direction: column;
    }
  }

  .contactTxt {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    p {
      display: inline-block;
    }
  }
}

@media (max-width: 540px) {
  .wrapper {
    width: 90%;
  }

  .flexContainer {
    flex-wrap: wrap;
    width: 100%;
  
    .txtContainer {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .fullBleed {
    width:100%;
    max-width: 100%;
    left: 0;
    right: 0;
    margin: 0 0 0 0 ;
  }

  .txtContainer {
    width: 90%;
  }

  .contactFlex {
    flex-wrap: wrap;
  }
}

