nav {
  font-family: $barlow;
  font-weight: 700;
  text-align: right;
  line-height: 1.4rem;
  color: white;
  background-color: rbga(0,0,0,0);
  position: fixed;
  z-index: 999;
  top: 10px;
  width: 100%;
  // max-width: 1080px;
  // display: flex;
  // text-align: right;
  
  span.logo {
    display: inline-block;
    line-height: 20px;
    width: 50px;
    overflow-wrap: normal;
  }
  
  .topNav {
    display: flex;
    justify-content: space-between;
    // width: 90%;
    // max-width: 1080px;
    // flex-wrap: wrap;
  }
  // justify-content: space-between;

  // ul {
  //   display: flex;
  //   // justify-content: flex-end;
  // }
    .bars {
      display: none;

      @media (max-width: 540px) {
        display: inline-block;
        border: none;
        background-color: transparent;
        color: white;
      }
    }
  ul.pageAnchors {
    display: flex;
    justify-content: space-between;

    a {
      padding-left: 40px;
    }
    
    @media (max-width: 540px) {
      display: none;
    }
  }
}