html {
  margin: 0;
  font-size: 125%;
  line-height: 125%;
  background-color: $charcoal;
  color: $white;
  padding: 0;
}

section {
  padding: 15vh 0;

  @media (max-width: 540px) {
    padding: 5vh 0;
  }
}

div {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  /* inline is the default and it would not understand height (top and bottom padding or margin) */
}
i {
  display: inline-block;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;

  @media (max-width: 540px) {
    .wrapper {
      width: 95%;
    }
  }
}

// background colors
.about,
.actions {
  background-color: $duckEggBlue;
}

.blog,
.contact {
  background-color: $pineTwo;
}