$charcoal: #2C2D2C;
$deepGreen: #116500;
$white: #fff;
$pineTwo: #213C28;
$duckEggBlue: #D6F1E4;


// font stacks
@import url(https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Offside&display=swap);

$barlow: 'Barlow', sans-serif;
$offside: 'Offside', cursive;

