@import url(https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Offside&display=swap);
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  margin: 0;
  font-size: 125%;
  line-height: 125%;
  background-color: #2C2D2C;
  color: #fff;
  padding: 0;
}

div {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  /* inline is the default and it would not understand height (top and bottom padding or margin) */
}

i {
  display: inline-block;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 3.44rem;
  letter-spacing: 0.8px;
  color: #fff;
}

h2 {
  font-family: "Offside", cursive;
  font-weight: 400;
  font-size: 2.1rem;
  text-align: left;
  color: #fff;
}
h2.centered {
  text-align: center;
}

h3 {
  font-family: "Offside", cursive;
  font-weight: 400;
  color: #116500;
}

h4,
.contactNav a {
  font-family: "Offside", cursive;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 400px) {
  h1,
h2,
h3 {
    font-size: 1.5rem;
  }
}
p,
#email {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
}

.logo {
  font-family: "Offside", cursive;
  line-height: 1rem;
}

.readMore {
  font-family: "Offside", cursive;
  text-align: center;
  line-height: 29px;
  text-transform: uppercase;
  color: #116500;
}

nav {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-align: right;
  line-height: 1.4rem;
  color: white;
  background-color: rbga(0, 0, 0, 0);
  position: fixed;
  z-index: 999;
  top: 10px;
  width: 100%;
}
nav span.logo {
  display: inline-block;
  line-height: 20px;
  width: 50px;
  overflow-wrap: normal;
}
nav .topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .bars {
  display: none;
}
@media (max-width: 540px) {
  nav .bars {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: white;
  }
}
nav ul.pageAnchors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav ul.pageAnchors a {
  padding-left: 40px;
}
@media (max-width: 540px) {
  nav ul.pageAnchors {
    display: none;
  }
}

header {
  background-image: url("../assets/header-image.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  width: 50%;
  position: relative;
  top: 100px;
  line-height: 63.7px;
}

.wrapper {
  position: relative;
}

.socials {
  position: absolute;
  top: 100px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 400px) {
  header {
    height: 60vh;
  }
  h1 {
    line-height: 1.7rem;
  }
  .socials li {
    display: none;
  }
}
section {
  padding: 15vh 0;
}
@media (max-width: 540px) {
  section {
    padding: 5vh 0;
  }
}

h2 {
  margin: 20px 0;
}
@media (max-width: 540px) {
  h2 {
    text-align: center;
  }
}

.about,
.actions {
  background-color: #D6F1E4;
}

.blog,
.contact {
  background-color: #213C28;
}

.readMore {
  text-align: center;
  padding: 10px 25px;
  background-color: #116500;
  margin: 20px 0;
}
@media (max-width: 540px) {
  .readMore {
    margin: 20px 25%;
  }
}

.blog .readMore {
  background-color: #fff;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flexContainer img {
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  height: auto;
}
.flexContainer .txtContainer {
  width: 50%;
  text-align: left;
  padding: 10% 0 10% 5%;
}

.about {
  position: relative;
}
.about h2 {
  color: #116500;
}
.about p {
  color: #2C2D2C;
}
.about .readMore {
  color: #fff;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutContainer img.square {
  position: absolute;
  margin-top: 20px;
  max-width: 25%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutContainer .aboutTxt {
  position: relative;
  padding: 0;
  margin-left: 28%;
  width: 75%;
}
@media (max-width: 540px) {
  .aboutContainer .aboutTxt {
    margin-left: 0;
    width: 100%;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery li {
  width: 31%;
}

@media (max-width: 540px) {
  .gallery li {
    width: 47%;
  }
  .gallery li:last-child {
    width: 100%;
  }
  .square {
    display: none;
  }
}
.blog {
  padding: 0;
}

.blogList .flexContainer {
  position: relative;
}
.blogList .txtContainer {
  padding-top: 0;
}
.blogList .fullBleed {
  width: 50vw;
  max-width: 50vw;
}
@media (max-width: 540px) {
  .blogList .fullBleed {
    width: 100vw;
    max-width: 100vw;
  }
}
.blogList li:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 540px) {
  .blogList .flexContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.actions {
  text-align: center;
}
.actions i {
  color: #2C2D2C;
}
.actions ul.flexContainer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 540px) {
  .actionsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  li {
    padding: 20px 0;
  }
}
.contact .contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .contactFlex div:first-child {
  width: 110%;
}

.subscribeContainer {
  width: 100%;
}
.subscribeContainer .subscribe {
  height: 40px;
}
.subscribeContainer #email {
  height: 45px;
  margin-right: 0;
  width: 30vw;
}
.subscribeContainer ::-webkit-input-placeholder {
  color: #2C2D2C;
}
.subscribeContainer ::-moz-placeholder {
  color: #2C2D2C;
}
.subscribeContainer :-ms-input-placeholder {
  color: #2C2D2C;
}
.subscribeContainer ::-ms-input-placeholder {
  color: #2C2D2C;
}
.subscribeContainer ::placeholder {
  color: #2C2D2C;
}
.subscribeContainer .readMore {
  color: #fff;
  background-color: #2C2D2C;
  border: none;
  margin: 0;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactContainer nav {
  position: relative;
  width: 30%;
}
.contactContainer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactContainer .contactTxt {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contactContainer .contactTxt p {
  display: inline-block;
}

@media (max-width: 540px) {
  .wrapper {
    width: 90%;
  }
  .flexContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .flexContainer .txtContainer {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .fullBleed {
    width: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    margin: 0 0 0 0;
  }
  .txtContainer {
    width: 90%;
  }
  .contactFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
footer {
  text-align: center;
}
footer p {
  margin: 0 auto;
  padding: 10px;
}